@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap");
:root {
  --color-bg: #fff;
  --color-text: #111;
  --color-subtext: #666;
  --color-dividers: #e5e5e5;
  --color-accent: #d72638;
  --color-accent-hover: #b71c1c;
  --color-highlight: #fbeaec;
}

:root {
  --font-theme: "Sora", sans-serif;
  --font-body: "DM Sans", sans-serif;
}

* {
  font-family: var(--font-body);
  color: var(--color-text);
}

h1 {
  font-family: var(--font-theme);
  font-size: 8.75rem;
  letter-spacing: -0.5rem;
  font-weight: 600;
  line-height: 0.9;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.9;
}

h3 {
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-theme);
}

.text__red {
  color: var(--color-accent) !important;
}
.text__white {
  color: var(--color-bg) !important;
}
.text__dark {
  color: var(--color-text) !important;
}

.font__theme {
  font-family: var(--font-theme) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

section {
  margin-bottom: 18rem;
}

.cursor__pointer {
  cursor: pointer !important;
}

.button {
  font-family: var(--font-theme);
}
.button__pill {
  padding: 0.1rem 3rem;
  border-radius: 1rem;
  background-color: var(--color-subtext);
  color: var(--color-bg);
  font-family: 400;
  transition: all 0.3s ease-in;
  text-align: center;
  border: none;
}
.button__pill:hover, .button__pill:focus, .button__pill:active {
  background-color: var(--color-accent);
}
.button__pill--red {
  background-color: var(--color-accent) !important;
}
.button__pill--red:hover, .button__pill--red:focus, .button__pill--red:active {
  background-color: var(--color-accent-hover) !important;
}

.card__project {
  overflow: hidden;
  height: 50vh;
  max-height: 40rem;
  gap: 5rem;
  margin: 5rem 0;
}
.card__project--left {
  overflow: hidden;
  position: relative;
}
.card__project--left img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__project--right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
  position: relative;
}
.card__project--buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__project--buttons path {
  color: var(--color-bg);
}

.home {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 15vh;
  display: flex;
  justify-content: space-between;
}
.home__left {
  margin-top: 3.5rem;
}
.home__left path {
  color: var(--color-text) !important;
  transition: all 0.3 ease-in;
}
.home__left path:hover, .home__left path:active, .home__left path:focus {
  filter: drop-shadow(1px 3px 5px var(--color-subtext));
}
.home__right {
  position: relative;
  width: 35%;
  min-width: 20.813rem;
  height: 100%;
}
.home__right img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
}
.home__right::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
  mix-blend-mode: color-dodge;
}
.home__nav {
  position: absolute;
  bottom: 4rem;
}
.home__items {
  text-transform: uppercase;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}
.home__item a {
  font-size: 1.125rem;
  font-family: var(--font-theme) !important;
  cursor: pointer;
  transition: all 0.3s ease-in;
  position: relative;
  display: inline-block;
}
.home__item a::before {
  content: "";
  border-bottom: 2px solid var(--color-accent);
  position: absolute;
  transition: all 0.3s ease-in;
  bottom: 50%;
  width: 0;
  overflow: hidden;
}
.home__item a:hover, .home__item a:focus, .home__item a:active {
  color: var(--color-accent) !important;
  transform: translateX(2.5rem);
}
.home__item a:hover::before {
  transform: translateX(-2.5rem);
  width: 2rem;
}

.section__container {
  width: 80%;
  margin: 0 auto;
}
.section__title {
  position: relative;
}
.section__title--right {
  text-align: right;
  transform: translateX(-6rem);
}
.section__title--right::after {
  content: "";
  position: absolute;
  bottom: 50%;
  padding-left: 1rem;
  border-bottom: 0.4rem solid var(--color-text);
  width: 5rem;
  margin-left: 1rem;
}
.section__title--left {
  transform: translateX(6rem);
}
.section__title--left::before {
  content: "";
  position: absolute;
  bottom: 50%;
  padding-left: 1rem;
  border-bottom: 0.4rem solid var(--color-text);
  width: 5rem;
  transform: translateX(-6rem);
}
.notif__float {
  opacity: 70%;
  position: fixed;
  bottom: 10vh;
  width: 100%;
  text-align: center;
  transition: all 0.3 ease-in;
}
.notif__float p {
  background-color: var(--color-dividers);
  padding: 0.5rem 2rem;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: inline;
  border-radius: 1rem;
  box-shadow: 1px 3px 5px 2px var(--color-subtext);
}

.header {
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  background-color: var(--color-bg);
}
.header__nav {
  width: 50%;
  min-width: 31.5rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}
.header__items {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.header__item {
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.header__item:hover, .header__item:focus, .header__item:active {
  color: var(--color-accent);
}

.footer {
  background-color: var(--color-text);
  width: 100vw;
}
.footer__container {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.footer__container p,
.footer__container li {
  color: var(--color-bg) !important;
}
.footer__container path {
  color: var(--color-bg) !important;
  transition: all 0.3 ease-in;
}
.footer__container path:hover, .footer__container path:active, .footer__container path:focus {
  filter: drop-shadow(1px 3px 5px var(--color-subtext));
}/*# sourceMappingURL=style.css.map */