@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap");
:root {
  --color-bg: #fff;
  --color-text: #111;
  --color-subtext: #666;
  --color-dividers: #e5e5e5;
  --color-accent: #d72638;
  --color-accent-hover: #b71c1c;
  --color-highlight: #fbeaec;
}

:root {
  --font-theme: "Sora", sans-serif;
  --font-body: "DM Sans", sans-serif;
}

* {
  font-family: var(--font-body);
  color: var(--color-text);
}

h1 {
  font-family: var(--font-theme);
  font-size: clamp(4.3rem, 10vw, 8.75rem);
  letter-spacing: clamp(-0.3rem, -5vw, -0.5rem);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
  margin-bottom: 0;
}
@media (min-width: 43.75em) {
  h1 {
    text-align: left;
    margin: auto;
  }
}

h2 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 400;
  line-height: 0.9;
  color: var(--color-accent) !important;
  text-align: center;
}
@media (min-width: 43.75em) {
  h2 {
    color: var(--color-text) !important;
    text-align: left;
  }
}

h3 {
  font-size: clamp(1rem, 1.5rem + 2vw, 4rem);
  font-weight: 600;
  font-family: var(--font-theme);
}

p {
  font-size: clamp(0.875rem, 2vw, 1rem);
  text-align: center;
}
@media (min-width: 43.75em) {
  p {
    text-align: left;
  }
}

.text__red {
  color: var(--color-accent) !important;
}
.text__white {
  color: var(--color-bg) !important;
}
.text__dark {
  color: var(--color-text) !important;
}

.font__theme {
  font-family: var(--font-theme) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.4rem;
  /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--color-text);
  /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-bg);
  /* color of the scroll thumb */
  border-radius: 1rem;
  /* roundness of the scroll thumb */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

section {
  margin: 1rem auto 10rem auto;
}

.cursor__pointer {
  cursor: pointer !important;
}

.button {
  font-family: var(--font-theme);
}
.button__pill {
  padding: 0.1rem 3rem;
  border-radius: 1rem;
  background-color: var(--color-subtext);
  color: var(--color-bg);
  font-family: 400;
  transition: all 0.3s ease-in;
  text-align: center;
  border: none;
}
@media (max-width: 56.24875em) {
  .button__pill {
    padding: 0.05rem 2rem;
    font-size: 0.75rem;
  }
}
.button__pill:hover, .button__pill:focus, .button__pill:active {
  background-color: var(--color-accent);
}
.button__pill--red {
  background-color: var(--color-accent) !important;
}
.button__pill--red:hover, .button__pill--red:focus, .button__pill--red:active {
  background-color: var(--color-accent-hover) !important;
}
.button__round {
  height: 7.5rem;
  width: 7.5rem;
  background-color: var(--color-accent);
  align-content: center;
  text-align: center;
  color: var(--color-bg);
  border-radius: 50%;
}

.card__project {
  overflow: hidden;
  height: 50vh;
  max-height: 40rem;
  gap: 5rem;
  margin: 8rem 0;
  transition: all 0.2s ease-in;
  filter: grayscale(100%);
}
@media (max-width: 56.24875em) {
  .card__project {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
  }
}
.card__project:hover {
  filter: grayscale(0);
}
.card__project:hover .card__project--title {
  font-weight: 600;
}
.card__project:hover img {
  height: 105%;
  width: 105%;
}
.card__project--left {
  overflow: hidden;
  position: relative;
}
@media (max-width: 56.24875em) {
  .card__project--left {
    width: 100%;
    height: 15rem;
  }
}
.card__project--left img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.2s ease-in;
}
.card__project--right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
  position: relative;
}
@media (max-width: 56.24875em) {
  .card__project--right {
    font-size: 0.85rem;
    height: -moz-max-content;
    height: max-content;
  }
}
.card__project--buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 56.24875em) {
  .card__project--buttons {
    position: relative;
  }
}
.card__project--buttons path {
  color: var(--color-bg);
}
.card__project--title {
  font-weight: 400;
  transition: all 0.2s ease-in;
}
@media (max-width: 56.24875em) {
  .card__project--title {
    font-size: 1.25rem;
  }
}

#home {
  margin: 0 auto;
  margin-bottom: 7rem;
  position: relative;
}

.home {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 15vh;
  display: flex;
  justify-content: center;
}
@media (max-width: 89.99875em) {
  .home {
    flex-direction: column;
    width: 90%;
  }
}
.home * {
  z-index: 2;
}
.home__left {
  margin-top: 3.5rem;
}
.home__left path {
  color: var(--color-text) !important;
  transition: all 0.3 ease-in;
}
.home__left path:hover, .home__left path:active, .home__left path:focus {
  filter: drop-shadow(1px 3px 5px var(--color-subtext));
}
.home__right {
  position: relative;
  width: auto;
  min-width: 20.813rem;
  overflow: visible;
}
@media (max-width: 89.99875em) {
  .home__right {
    min-width: unset;
    min-height: 5rem;
    height: 55vh;
    width: 50vw;
    align-self: end;
  }
}
.home__right img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: visible;
}
@media (max-width: 89.99875em) {
  .home__right img {
    height: 100%;
    width: 50%;
    right: 20%;
    bottom: 50%;
    min-width: 10rem;
  }
}
@media (max-width: 56.24875em) {
  .home__right img {
    right: 10%;
    bottom: 0;
    height: 95%;
  }
}
.home__nav {
  position: absolute;
  bottom: 4rem;
}
.home__items {
  position: relative;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}
@media (max-width: 56.24875em) {
  .home__items {
    gap: 0.5rem;
  }
}
.home__item a {
  font-size: 1.125rem;
  font-family: var(--font-theme) !important;
  cursor: pointer;
  transition: all 0.3s ease-in;
  position: relative;
  display: inline-block;
}
@media (max-width: 56.24875em) {
  .home__item a {
    font-size: 0.85rem;
  }
}
.home__item a::before {
  content: "";
  border-bottom: 2px solid var(--color-accent);
  position: absolute;
  transition: all 0.3s ease-in;
  bottom: 50%;
  width: 0;
  overflow: hidden;
}
.home__item a:hover, .home__item a:focus, .home__item a:active {
  color: var(--color-accent) !important;
  transform: translateX(2.5rem);
}
.home__item a:hover::before {
  transform: translateX(-2.5rem);
  width: 2rem;
}

.section__container {
  width: 80%;
  margin: 0 auto;
  padding-top: 7rem;
}
.section__title {
  position: relative;
}
.section__title--right {
  text-align: right;
  transform: translateX(-6rem);
}
.section__title--right::after {
  content: "";
  position: absolute;
  bottom: 50%;
  padding-left: 1rem;
  border-bottom: 0.4rem solid var(--color-text);
  width: 5rem;
  margin-left: 1rem;
}
.section__title--left {
  transform: translateX(6rem);
}
@media (max-width: 43.7485em) {
  .section__title--left {
    transform: translateX(1rem);
  }
}
.section__title--left::before {
  content: "";
  position: absolute;
  bottom: 50%;
  padding-left: 1rem;
  border-bottom: 0.4rem solid var(--color-text);
  width: clamp(1rem, 1rem + 3vw, 5rem);
  transform: translateX(-6rem);
}
@media (max-width: 43.7485em) {
  .section__title--left::before {
    transform: translateX(-2rem);
    border-bottom: 0.3rem solid var(--color-text);
  }
}

.notif__float {
  opacity: 70%;
  position: fixed;
  bottom: 10vh;
  width: 100%;
  text-align: center;
  transition: all 0.3 ease-in;
}
.notif__float p {
  background-color: var(--color-dividers);
  padding: 0.5rem 2rem;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: inline;
  border-radius: 1rem;
  box-shadow: 1px 3px 5px 2px var(--color-subtext);
}

.scroll__down {
  position: absolute;
  transform: rotate(90deg);
  letter-spacing: 0.25rem;
  right: calc(-7rem - 3vw);
  font-family: var(--font-theme);
  font-size: 0.75rem;
  line-height: 0.75rem;
  top: 85vh;
  display: flex;
  z-index: 5;
}
@media (max-width: 43.7485em) {
  .scroll__down {
    display: none;
  }
}
.scroll__down .arrow {
  margin: 0.25rem 0 0 1rem;
  border-top: 1px solid var(--color-text);
  width: 15rem;
  position: relative;
}
.scroll__down .arrow::after {
  content: ">";
  position: absolute;
  right: -0.5rem;
  top: -0.4rem;
}
.scroll__up {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  height: 4rem;
  width: 4rem;
  transition: all 0.3s ease-in;
}
.scroll__up path {
  color: var(--color-bg);
}
.scroll__up:hover {
  background-color: var(--color-accent-hover);
  box-shadow: 1px 3px 5px var(--color-subtext);
}

.header {
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: 99;
}
.header__nav {
  width: 50%;
  min-width: 31.5rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}
.header__items {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.header__item {
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.header__item:hover, .header__item:focus, .header__item:active {
  color: var(--color-accent);
}

.footer {
  background-color: var(--color-text);
  width: 100vw;
}
.footer__container {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.footer__container p,
.footer__container li {
  color: var(--color-bg) !important;
}
.footer__container path {
  color: var(--color-bg) !important;
  transition: all 0.3 ease-in;
}
.footer__container path:hover, .footer__container path:active, .footer__container path:focus {
  filter: drop-shadow(1px 3px 5px var(--color-subtext));
}/*# sourceMappingURL=style.css.map */