// for resetting default html styles

// @use '../util/'as u;

*,
*::before,
*::after {
    box-sizing: border-box;
}

// html {
//     width: 100vw;
//     overflow-x: hidden
// }

body {
    width: 100vw;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.4rem;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: var(--color-text);
        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-bg);
        /* color of the scroll thumb */
        border-radius: 1rem;
        /* roundness of the scroll thumb */
    }

}




li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

section {
    margin: 1rem auto 10rem auto;
}

.cursor {
    &__pointer {
        cursor: pointer !important;
    }
}