// for resetting default html styles

// @use '../util/'as u;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

section {
    margin-bottom: 18rem;
    // border: 1px solid red;
    // background-color: lightgray;
}