.button {
    font-family: var(--font-theme);

    &__pill {
        padding: 0.1rem 3rem;
        border-radius: 1rem;
        background-color: var(--color-subtext);
        color: var(--color-bg);
        font-family: 400;
        transition: all 0.3s ease-in;
        text-align: center;
        border: none;


        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-accent);
        }

        &--red {
            background-color: var(--color-accent) !important;

            &:hover,
            &:focus,
            &:active {
                background-color: var(--color-accent-hover) !important;
            }
        }

    }
}