@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap');

:root {
    --font-theme: "Sora", sans-serif;
    --font-body: "DM Sans", sans-serif;
}

* {
    font-family: var(--font-body);
    color: var(--color-text);
}

h1 {
    font-family: var(--font-theme);
    font-size: 8.75rem;
    letter-spacing: -0.5rem;
    font-weight: 600;
    line-height: 0.9;
}

h2 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 0.9;
}

h3 {
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--font-theme);
}

.text {
    &__red {
        color: var(--color-accent) !important;
    }

    &__white {
        color: var(--color-bg) !important;
    }

    &__dark {
        color: var(--color-text) !important;
    }
}

.font {
    &__theme {
        font-family: var(--font-theme) !important;
    }
}