.footer {
    background-color: var(--color-text);
    width: 100vw;

    &__container {
        width: 80%;
        margin: 0 auto;
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;


        p,
        li {
            color: var(--color-bg) !important;
        }

        path {
            color: var(--color-bg) !important;
            transition: all 0.3 ease-in;

            &:hover,
            &:active,
            &:focus {
                filter: drop-shadow(1px 3px 5px var(--color-subtext));
            }
        }
    }



}