.home {
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    max-width: 100rem;
    height: 100vh;
    padding-top: 5rem;

    display: flex;
    justify-content: space-between;


    &__left {
        margin-top: 3.5rem;
    }

    &__nav {
        position: absolute;
        bottom: 4rem;
    }

    &__items {
        text-transform: uppercase;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.65rem;
    }

    &__item {
        list-style-type: none;
        font-size: 1.25rem;

    }

    &__image {
        position: relative;
        width: 35%;
        height: inherit;
        // max-width: 25rem;

        img {
            position: absolute;
            bottom: 0;
            width: 100%;


        }

        &::after {
            position: absolute;
            bottom: 0;
            content: "eme";
            width: 100%;
            height: 50%;
            background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
            mix-blend-mode: color-dodge;
        }

    }
}