@use '../util'as *;

#home {
    margin: 0 auto;
    margin-bottom: 7rem;
    position: relative;
}

.home {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    padding-top: 15vh;

    display: flex;
    justify-content: center;

    @include breakpoint-down(large) {
        flex-direction: column;
        width: 90%;
    }


    * {
        z-index: 2;
    }

    // &__blur {
    //     background-color: var(--color-accent);
    //     width: 100vh;
    //     height: 100vh;
    //     border-radius: 50%;
    //     position: absolute;
    //     z-index: 2 !important;
    //     filter: blur(3rem) saturate(120%);
    //     top: -5rem;
    //     right: -20rem;
    // }

    &__left {
        margin-top: 3.5rem;

        path {
            color: var(--color-text) !important;
            transition: all 0.3 ease-in;

            &:hover,
            &:active,
            &:focus {
                filter: drop-shadow(1px 3px 5px var(--color-subtext));
            }
        }
    }

    &__right {
        position: relative;
        width: auto;
        min-width: 20.813rem;
        overflow: visible;

        @include breakpoint-down(large) {
            min-width: unset;
            min-height: 5rem;
            height: 55vh;
            width: 50vw;
            align-self: end;
        }


        img {
            position: absolute;
            // bottom: -20%;
            // right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: visible;

            @include breakpoint-down(large) {
                height: 100%;
                width: 50%;
                right: 20%;
                bottom: 50%;
                min-width: 10rem;

            }

            @include breakpoint-down(medium) {
                right: 10%;
                bottom: 0;
                height: 95%;
            }

        }

        // &::after {
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        //     content: "";
        //     width: 100%;
        //     height: 50%;
        //     background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
        //     mix-blend-mode: color-dodge;
        //     z-index: 2;
        // }
    }

    &__nav {
        position: absolute;
        bottom: 4rem;
    }

    &__items {
        position: relative;
        text-transform: uppercase;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.65rem;

        @include breakpoint-down(medium) {
            gap: 0.5rem;
        }

    }

    &__item a {
        font-size: 1.125rem;
        font-family: var(--font-theme) !important;
        cursor: pointer;
        transition: all 0.3s ease-in;
        position: relative;
        display: inline-block;

        @include breakpoint-down(medium) {
            font-size: 0.85rem;
        }

        &::before {
            content: "";
            border-bottom: 2px solid var(--color-accent);
            position: absolute;
            transition: all 0.3s ease-in;
            bottom: 50%;
            width: 0;
            overflow: hidden;
        }

        &:hover,
        &:focus,
        &:active {
            color: var(--color-accent) !important;
            transform: translateX(2.5rem);
        }

        &:hover::before {
            transform: translateX(-2.5rem);
            width: 2rem;
        }
    }
}

.section {

    &__container {
        width: 80%;
        margin: 0 auto;
        padding-top: 7rem;
        // height: 100vh;
        // border: 1px solid green;
    }

    &__title {
        position: relative;

        &--right {
            text-align: right;
            transform: translateX(-6rem);

            @include breakpoint-down(small) {
                transform: translateX(-4rem);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 50%;
                padding-left: 1rem;
                width: 5rem;
                margin-left: 1rem;
                width: clamp(1rem, 1rem + 3vw, 5rem);
                transform: translateX(1rem);
                border-bottom: 0.4rem solid var(--color-text);

                @include breakpoint-down(small) {
                    transform: translateX(0);
                    border-bottom: 0.3rem solid var(--color-text);
                }
            }
        }


        &--left {
            transform: translateX(6rem);

            @include breakpoint-down(small) {
                transform: translateX(1rem);
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 50%;
                padding-left: 1rem;
                border-bottom: 0.4rem solid var(--color-text);
                // width: 5rem;
                width: clamp(1rem, 1rem + 3vw, 5rem);
                transform: translateX(-6rem);

                @include breakpoint-down(small) {
                    transform: translateX(-130%);
                    border-bottom: 0.3rem solid var(--color-text);
                }
            }
        }
    }
}

.notif {
    &__float {
        opacity: 70%;
        position: fixed;
        bottom: 10vh;
        width: 100%;
        text-align: center;
        transition: all 0.3 ease-in;

        p {
            background-color: var(--color-dividers);
            padding: 0.5rem 2rem;
            width: max-content;
            margin: 0 auto;
            display: inline;
            border-radius: 1rem;
            box-shadow: 1px 3px 5px 2px var(--color-subtext);
        }
    }
}

.scroll {
    &__down {
        position: absolute;
        transform: rotate(90deg);
        letter-spacing: 0.25rem;
        right: calc(-7rem - 3vw);
        font-family: var(--font-theme);
        font-size: 0.75rem;
        line-height: 0.75rem;
        top: 85vh;
        display: flex;
        z-index: 5;

        @include breakpoint-down(small) {
            display: none;
        }

        .arrow {
            margin: 0.25rem 0 0 1rem;
            border-top: 1px solid var(--color-text);
            // display: block;
            width: 15rem;
            position: relative;

            &::after {
                content: ">";
                position: absolute;
                right: -0.5rem;
                top: -0.4rem;
            }
        }

    }

    &__up {
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        height: 4rem;
        width: 4rem;
        transition: all 0.3s ease-in;

        path {
            color: var(--color-bg);
        }

        &:hover {
            background-color: var(--color-accent-hover);
            box-shadow: 1px 3px 5px var(--color-subtext);
        }
    }
}