:root {
    --color-bg: #fff;
    --color-text: #111;
    --color-subtext: #666;
    --color-dividers: #e5e5e5;
    --color-accent: #d72638;
    --color-accent-hover: #b71c1c;
    --color-highlight: #fbeaec;
}